<div class="child-panel results-panel" id="results-box-container" file={{fname}}>
    <div id="chart-div"></div>
    <div id="graph"></div>
    <div class="result-stats-container">

        {{#each stat}}
        <div class="result-entry-container">
            <p>{{@key}}</p>
            <p>{{this}}</p>
        </div>
        {{/each}}

    </div>
</div>