<div class="child-panel hidden" id="results-box-container">
    <div id={{chart_id}}></div>
    <div class="result-stats-container">
        <div id="std-dev-container" class="result-entry-container">
            <p>Standard Deviation: </p>
            <p>{{std-dev}}</p>
        </div>
        <div id="" class="result-entry-container">
            <p>: </p>
            <p>{{}}</p>
        </div>

    </div>
</div> <!-- results box -->