<main>
    <header class="side-panel" id="about-panel">
        <div class="side-panel-contents">
            <h1 class="side-title" id="about-title">About</h1>
            <div class="about-contents">
                <p>
                    "Data Wizard" is a program made by David Li for CS 361 in July 2023.
                </p>
            </div>
            <div class="about-contents">
                <p>
                    To begin, go to the top panel and choose a .csv or .xlsx file from your
                    computer, and then choose what type of data is in your file. Set colors
                    for your visualization. In the panel below, choose statistics that interest
                    you, and then hit "apply".
                </p>
                <p>
                    You can return to the customization screen after clicking the "Apply"
                    button by clicking the "return" button that will appear afterwards.
                </p>
            </div>
        </div>
    </header>

    <div class="main-panel">
        <h1 class="main-title" id="customize-title">Customize Your Output</h1>
        <h1 class="main-title hidden" id="results-title" class="hidden">Here are your Results</h1>
        <div class="child-panel" id="file-box-container">
            <div class="file-input-container">
                <p class="file-input-subtitle">Choose a file:</p>
                <label for="file-input">File: </label>
                <input type="file" id="file-input" name="file-input">
            </div>
            <div class="file-input-container" id="type-picker-container">
                <p class="file-input-subtitle">Type of data:</p>
                <input type="radio" id="radio-button-1" name="type-picker" value="norm-dist">
                <label for="radio-button-1">Normal Distribution</label>
                    <input type="radio" id="radio-button-2" name="type-picker" value="xy-graph">
                    <label for="radio-button-2">Linear</label>
                    <input type="radio" id="radio-button-el" name="type-picker" value="edge-list">
                    <label for="radio-button-el">Edge list</label>
                </div>
                <div class="file-input-container" id="color-picker-container">
                    <p class="file-input-subtitle">Color theme:</p>
                    <label for="color-picker">Pick a color: </label>
                    <input type="color" id="color-picker" name="color-picker">
                </div>
            </div>
            <div class="child-panel" id="statistics-box-container">
                <div class="statistics-filter-container">
                    <label for="statistics-filter" class="statistics-filter-label">
                        Select Statistics
                    </label>
                    <select id="statistics-filter" name="statistics-filter">
                        <option id="select-option-all">All</option>
                        <option id="select-option-nd">Normal Distribution</option>
                        {{!-- <option id="select-option-ht">Hypothesis Testing</option> --}}
                        <option id="select-option-xy">Linear</option>
                        <option id="select-option-graph">Graph Measures</option>
                    </select>
                </div>

        <!-- This is the statistics checkbox on the bottom middle panel -->
            <div class="statistics-checklist-container">
                <fieldset id="statistics-checklist">
                    <div>
                        <input type="checkbox" name="stats-checkbox" id="checkbox-std-dev" class="nd-option" value="std-dev">
                        <label for="checkbox-std-dev" class="nd-option">standard deviation</label>
                    </div>
                    <div>
                        <input type="checkbox" name="stats-checkbox" id="checkbox-var" class="nd-option" value="variation">
                        <label for="checkbox-var" class="nd-option">variation</label>
                    </div>
                    <div>
                        <input type="checkbox" name="stats-checkbox" id="checkbox-mean" class="xy-option nd-option" value="mean">
                        <label for="checkbox-mean" class="xy-option nd-option">mean</label>
                    </div>
                    <div>
                        <input type="checkbox" name="stats-checkbox" id="checkbox-median" class="xy-option nd-option" value="median">
                        <label for="checkbox-median" class="xy-option nd-option">median</label>
                    </div>
                    <div>
                        <input type="checkbox" name="stats-checkbox" id="checkbox-best-line" class="xy-option" value="line-best-fit">
                        <label for="checkbox-best-line" class="xy-option">line of best fit</label>
                    </div>
                    {{!-- <div>
                        <input type="checkbox" name="stats-checkbox" id="checkbox-hp-t" class="hp-option" value="t-test-for-hypothesis-test">
                        <label for="checkbox-hp-t" class="hp-option">t-test for a hypothesis test</label>
                    </div>
                    <div>
                        <input type="checkbox" name="stats-checkbox" id="checkbox-hp-v" class="hp-option" value="p-value-for-hypothesis-test">
                        <label for="checkbox-hp-v" class="hp-option">p-value for a hypothesis test</label>
                    </div>
                    <div>
                        <input type="checkbox" name="stats-checkbox" id="checkbox-hp-z" class="hp-option" value="z-test-for-hypothesis-test">
                        <label for="checkbox-hp-z" class="hp-option">z-test for a hypothesis test</label>
                    </div> --}}
                    {{!-- <div>
                        <input type="checkbox" name="stats-checkbox" id="checkbox-c-interval" class="hp-option" value="confidence-interval-hypothesis-test">
                        <label for="checkbox-hp-z" class="hp-option">confidence interval for a hypothesis test</label>
                    </div> --}}
                    <div>
                        <input type="checkbox" name="stats-checkbox" id="checkbox-graph-v" class="graph-option" value="num-of-vertices">
                        <label for="checkbox-graph-v" class="graph-option">number of vertices</label>
                    </div>
                    <div>
                        <input type="checkbox" name="stats-checkbox" id="checkbox-graph-e" class="graph-option" value="num-of-edges">
                        <label for="checkbox-graph-e" class="graph-option">number of edges</label>
                    </div>
                    <div>
                        <input type="checkbox" name="stats-checkbox" id="checkbox-graph-v-c" class="graph-option" value="vertex-connectivity">
                        <label for="checkbox-graph-v-c" class="graph-option">vertex connectivity</label>
                    </div>
                    <div>
                        <input type="checkbox" name="stats-checkbox" id="checkbox-graph-e-c" class="graph-option" value="edge-connectivity">
                        <label for="checkbox-graph-e-c" class="graph-option">edge connectivity</label>
                    </div>
                    <div>
                        <input type="checkbox" name="stats-checkbox" id="checkbox-graph-d" class="graph-option" value="graph-density">
                        <label for="checkbox-graph-d" class="graph-option">graph density</label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div id="button-container">
            <button class="main-buttons" id="apply-button">Apply</button>
        </div>
    </div> <!-- main panel -->

    <header class="side-panel" id="history-panel">
        <div class="side-panel-contents" id="history-panel-contents">
            <h1 class="side-title" id="history-title">Previous Uploads</h1>
        </div>
    </header>
</main>